{% extends "site_base.html" %}

{% block body_class %}blog{% endblock %}


{% block body %}
    <div class="row blog-container">
        <div class="col-md-3 sidebar">
            {% block sidebar %}
                <h1>
                    <a href="{% url "blog" %}">{{ SITE_NAME }}</a>
                </h1>
                <p class="lead">
                    Welcome to Matt's Pinax Bootcamp.
                </p>

                <p>
                    Want to sign up? <a class="btn btn-success" href="{% url "account_signup" %}"
                                        role="button">Let's do it.</a>
                </p>
            {% endblock %}
        </div>
        <div class="col-md-8 blog-content">
            {% block content %}{% endblock %}
        </div>
    </div>
{% endblock %}